<%- include("ejs/header.ejs") -%>

<body>


    <main class="login-bg">

        <div class="login-form-area">
            <div class="login-form">
 
<form action="/resetPass" method="post" >
    <div class="login-heading">
        <span>Reset Password</span>
        <p>Enter Details To Reset Your Password</p>
    </div>
    <div id="alert-panel" class="alert" style="margin-top: 5%; display: <%=displayProp %>;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Invalid Username or Email Address
      </div>
    <div class="input-box">
        <div class="single-input-fields">
            <label>Username or Email Address</label>
            <input name="username" required type="text" placeholder="Username / Email address">
            <button type="submit" class="submit-btn3">Resend Reset Code</button>
        </div>

    </div>
</form>

     </div>
        </div>
        
    </main>
<%- include("ejs/footer.ejs") %>