<%- include("ejs/header.ejs") -%>

    <body>
        <%- include("ejs/navbar.ejs") -%>
            <main>
                <div class="hero-area section-bg2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="slider-area">
                                    <div
                                        class="slider-height2 slider-bg4 d-flex align-items-center justify-content-center">
                                        <div class="hero-caption hero-caption2">
                                            <h2>Privacy Policy</h2>
                                            <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb justify-content-center">
                                                    <li class="breadcrumb-item">
                                                        <a href="/">Home</a>
                                                    </li>
                                                    <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="contact-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="contact-title">About Privacy</h2>
                                <p>
                                    !!! DONT USE YOUR REAL CREDENTIALS LIKE EMAILS FOR REGISTERING AND USING THIS PROTOTYPE !!!
                                </p>
                                <p>
                                    Thought CoinCart Database saves email and passwords as Hashes, it is not suggested much to use your own actual Details in your account. You may or may not use your real identity
                                    <br> Anyhow, Your Data is Safe With Me ;)<br>
                               
                                <br>
                                Hope You Find This Project Worth Exploring &lt;3  <br><br>
                                REGARDS,<br>
                                @aryanshdev (Aryansh Gupta)
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <%- include("ejs/footer.ejs") -%>
    </body>