<%- include("header.ejs") -%>

<body>


    <main class="login-bg">

        <div class="login-form-area">
            <div class="login-form">
 
<form action="/reset-pass" method="post" >
    <div class="login-heading">
        <span>Enter Reset Code</span>
    </div>
    <div id="alert-panel" class="alert" style="margin-top: 5%; display: <%=displayProp %>;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Passwords Do Not Match
      </div>
      <div class="input-box">
        <div class="single-input-fields">
            <label>Enter Reset Password</label>
            <input name="pass" type="text" placeholder="Enter New Password">
            <input name="conpass" type="text" placeholder="Re-Enter New Password">
            <button type="submit" class="submit-btn3">Confirm Reset Password</button>
        </div>

</form>

     </div>
        </div>
        
    </main>