<%- include("header.ejs") -%>

<body>
  <main class="login-bg">
    <div class="login-form-area">
      <div class="login-form" style="text-align: center">
        <h2><%= pageTitle %></h2>
        <%- message -%>
      </div>
    </div>
  </main>
</body>
</html>